* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Circular Std Book";
	-webkit-font-smoothing: antialiased;
	letter-spacing: -0.05em;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	scroll-behavior: smooth;
}

body {
	-webkit-transform: translateZ(0px);
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
	-webkit-transition: all 750ms;
	transition: all 750ms;
	-webkit-transition-delay: 0;
	transition-delay: 0;
}

@font-face {
	font-family: "Circular Std Book";
	src: url("https://raw.githubusercontent.com/ixahmedxi/circular-std/master/fonts/CircularStd-Book.woff");
}

@font-face {
	font-family: "Circular Std Medium";
	src: url("https://raw.githubusercontent.com/ixahmedxi/circular-std/master/fonts/CircularStd-Medium.woff");
}

@font-face {
	font-family: "Circular Std Bold";
	src: url("https://raw.githubusercontent.com/ixahmedxi/circular-std/master/fonts/CircularStd-Bold.woff");
}

@font-face {
	font-family: "Circular Std Black";
	src: url("https://raw.githubusercontent.com/ixahmedxi/circular-std/master/fonts/CircularStd-Black.woff");
}

.header-wrapper {
	border-bottom: var(--header-border-color);
	background-color: var(--header-background-color);
	width: 100%;
	height: 62.16px;
	position: fixed;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 100;
}

.header-container {
	margin: 0 auto;
	width: 1400px;
	padding: 0 5% 0% 5%;
}

.header-container header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header-container svg {
	max-width: 100%;
	height: 29px;
}

.header-container ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-item-align: center;
	align-self: center;
}

.header-container ul button {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	color: var(--naviguation-list-color);
	background-color: transparent;
	border: none;
	font-size: 23px;
	padding: 4px;
	outline: none;
	cursor: pointer;
}

.header-container li {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	color: var(--naviguation-list-color);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 20px;
	padding-left: 4vw;
}

.header-container li a {
	text-decoration: none;
	color: inherit;
}

.header-container li:first-child {
	padding-left: 0;
}

.intro {
	height: 100vh;
}

.introduction-wrapper {
	height: 100vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: var(--introduction-background-color);
	border-bottom: var(--header-border-color);
}

.introduction-container {
	margin: 0 auto;
	width: 1400px;
	padding: 0 5% 0% 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.introduction-container svg {
	max-width: 100%;
	width: 50%;
	height: auto;
}

.introduction-text {
	width: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.introduction-text h1 {
	color: var(--introduction-head-color);
	font-family: "Circular Std Bold";
	font-size: 50px;
}

.introduction-text p {
	width: 80%;
	color: var(--introduction-secondary-color);
	padding-top: 2%;
	font-family: "Circular Std Book";
	font-size: 25px;
}

.introduction-buttons {
	margin-top: 5%;
}

.introduction-buttons #email {
	color: white;
	background-color: var(--blue-color);
	font-size: 22px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	font-family: "Circular Std Book";
	margin-right: 1%;
	border: none;
	letter-spacing: -0.04em;
}

.introduction-buttons #learn_more {
	letter-spacing: -0.04em;
	border: none;
	color: var(--introduction-learn-more-color);
	background-color: var(--introduction-learn-more-background-color);
	font-size: 22px;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	font-family: "Circular Std Book";
}

.technologies-wrapper {
	background-color: var(--stack-background);
	overflow: hidden;
}

.technologies-container {
	margin: 0 auto;
	padding: 5% 5% 0% 5%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	border-bottom: var(--border-color);
}

.technologies-container h1 {
	text-align: center;
	font-family: "Circular Std Medium";
	font-size: 35px;
	font-weight: 500;
	color: var(--introduction-head-color);
}

.technologies-container .stacks-wrapper {
	padding-top: 2%;
	padding-bottom: 2%;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: auto;
}

.technologies-container .stack-container {
	font-family: "Circular Std Book";
	font-size: 25px;
	color: var(--stack-name-color);
}

.technologies-container .stack-container {
	margin: 12%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.technologies-container .stack-container p {
	margin-top: 20px;
}

.technologies-container .stack-container span::before {
	font-size: 70px;
	color: var(--stack-logo-color);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.technologies-container .stack-container [class^="icon"]:hover:before {
	-webkit-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.technologies-container .stack-container [class^="icon"]::before {
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.technologies-container .stack-container .icon-node-js:hover:before {
	color: #7fc728;
}

.technologies-container .stack-container .icon-react:hover:before {
	color: #5ed4f4;
}

.technologies-container .stack-container .icon-typescript:hover:before {
	color: #0099ff;
}

.technologies-container .stack-container .icon-python:hover:before {
	color: #f4d34a;
}

.technologies-container .stack-container .icon-html5:hover:before {
	color: #e34c26;
}

.projects-wrapper {
	background-color: var(--projects-background);
	border-bottom: var(--border-color);
	width: 100%;
}

.projects-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 100;
}

.projects-container .projects {
	overflow: hidden;
	margin: 0 auto;
	width: 1400px;
	padding: 5% 5% 0% 5%;
}

.projects-container .projects h1 {
	font-family: "Circular Std Medium";
	font-size: 35px;
	font-weight: 500;
	color: var(--introduction-head-color);
}

.projects-container .projects .project {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 20px;
	font-family: "Circular Std Book";
	color: var(--coming-soon-color);
	width: auto;
	min-width: 300px;
	max-width: 500px;
	min-height: 200px;
	background: var(--coming-soon-background-color);
	border: 1px solid rgba(117, 127, 160, 0.5);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
	border-radius: 10px;
	margin-top: 3%;
	margin-bottom: 5%;
	margin-left: auto;
}

.projects-container .projects .project:first-child {
	margin-left: 0;
}

.projects-container .projects .projects-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.projects-container .projects .active {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.projects-container .projects .active p {
	padding: 4%;
	text-align: center;
	font-family: "Circular Std Book";
	font-weight: 100;
	font-size: 18px;
	width: 80%;
}

.projects-container .projects .active span::before {
	color: var(--stack-logo-color);
	font-size: 50px;
}

.projects-container .projects .active .icon-node-js {
	margin-top: 2.5%;
}

.projects-container .projects .active a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	color: var(--stack-logo-color);
	text-decoration: none;
}

.projects-container .projects .active a:hover {
	-webkit-transition: all ease-in 0.2s;
	transition: all ease-in 0.2s;
	color: var(--coming-soon-color);
}

.projects-container .projects .project-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 4%;
	width: 100%;
	border-bottom: 1px solid rgba(117, 127, 160, 0.5);
	margin-bottom: 4%;
	text-align: left;
}

.projects-container .projects .project-title h1 {
	font-family: "Circular Std Book";
	font-weight: 100;
	font-size: 20px;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.footer-wrapper {
	background-color: black;
	width: 100%;
	bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.footer-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-family: "Circular Std Book";
	color: var(--blue-lighter);
	margin: 0 auto;
	width: 100%;
	padding: 0 5% 0% 5%;
}

.footer-container footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	-ms-flex-line-pack: center !important;
	align-content: center !important;
	-webkit-box-pack: center !important;
	-ms-flex-pack: center !important;
	justify-content: center !important;
}

.footer-container p {
	font-family: "Circular Std Book";
	font-size: 16px;
	color: #e5ecf2;
	margin-top: 10%;
	margin-bottom: 5%;
}

.footer-container .social-icons {
	width: 300px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding-bottom: 10%;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.footer-container .social-icons a {
	font-size: 23px;
	text-decoration: none;
	color: #e5ecf2;
	-webkit-transition: none !important;
	transition: none !important;
}

.footer-container .social-icons li {
	list-style: none;
}

.footer-container .social-icons a:hover {
	color: #333333;
	-webkit-transition: none !important;
	transition: none !important;
}

.designs-wrapper {
	background-color: var(--introduction-background-color);
	border-bottom: var(--border-color);
	width: 100%;
}

.designs-container {
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 100;
}

.designs {
	margin: 0 auto;
	width: 1400px;
	padding: 5% 5% 0% 5%;
}

.designs h1 {
	font-family: "Circular Std Medium";
	font-size: 35px;
	font-weight: 500;
	color: var(--introduction-head-color);
}

.designs-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.designs-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.designs-grid a {
	text-decoration: none;
	color: inherit;
}

.design {
	padding: 7% 0% 7% 0%;
	width: 350px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.design img {
	height: 250px;
	width: 350px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.design h1 {
	padding-top: 5%;
	font-weight: 300;
	font-size: 30px;
}

.design p {
	font-weight: 450;
	font-size: 20px;
	color: var(--introduction-secondary-color);
}

.designs-grid:hover .design:not(:hover) {
	opacity: 0.5;
	-webkit-filter: grayscale(2);
	filter: grayscale(2);
}

.design:hover .design:not(:hover) {
	opacity: 1;
	-webkit-filter: none;
	filter: none;
}

.dribbble-button {
	font-size: 20px;
	font-family: "Circular Std Book";
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	text-decoration: none !important;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
	background-color: var(--dribbble-color);
	border-radius: 10px;
	padding: 0 10px 0 10px;
	-webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
}

.dribbble-button:hover {
	background-color: #ff76ab;
}

@media only screen and (max-width: 1000px) {
	.introduction-text h1 {
		font-size: calc(32px + 6 * ((100vw - 320px) / 680));
	}
	.introduction-text p {
		font-size: calc(16px + 6 * ((100vw - 320px) / 680));
	}
}

@media only screen and (max-width: 800px) {
	.introduction-container button {
		display: none;
	}
	.introduction-container {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.introduction-text {
		width: 100%;
		text-align: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@media only screen and (max-width: 320px) {
	.introduction-container {
		padding-top: 20%;
	}
	.header-wrapper {
		height: 55px;
	}
	.header-container svg {
		max-width: 100%;
		height: 22px;
	}
	.header-container ul {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	.technologies-wrapper h1 {
		text-align: center;
		width: 80%;
		font-size: calc(25px + 6 * ((100vw - 320px) / 680)) !important;
	}
	.stacks-wrapper {
		width: 100vw !important;
	}
	.stack-container {
		margin: 2% !important;
	}
	p {
		margin-top: 4%;
		font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
	}
	span::before {
		font-size: calc(30px + 6 * ((100vw - 320px) / 680)) !important;
	}
}

@media only screen and (max-width: 1000px) {
	.projects-group {
		-webkit-box-orient: vertical !important;
		-webkit-box-direction: normal !important;
		-ms-flex-direction: column !important;
		flex-direction: column !important;
	}
	.projects {
		margin: 25px 0 40px 0 !important;
		overflow: hidden !important;
	}
	.projects h1 {
		font-size: calc(24px + 6 * ((100vw - 320px) / 680)) !important;
	}
	.title-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.project-title {
		padding: 2% !important;
	}
	.project-title h1 {
		text-align: center;
		font-size: calc(18px + 6 * ((100vw - 320px) / 680)) !important;
	}
	.active p {
		margin: 0 !important;
		font-size: calc(16px + 6 * ((100vw - 320px) / 680)) !important;
	}
	.project {
		max-width: none !important;
		width: 100% !important;
	}
}

@media only screen and (max-width: 320px) {
	.project {
		overflow: hidden !important;
		min-width: 100px !important;
	}
}

@media only screen and (max-width: 1200px) {
	.designs {
		margin: 25px 0 40px 0 !important;
	}
	.designs-title {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.designs-title a {
		display: none;
	}
	.designs-title h1 {
		text-align: center;
		font-size: calc(24px + 6 * ((100vw - 320px) / 680));
	}
	.designs-grid {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		overflow: hidden !important;
		-webkit-box-pack: center !important;
		-ms-flex-pack: center !important;
		justify-content: center !important;
		-ms-flex-line-pack: center;
		align-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.design {
		margin: auto;
		width: 300px;
		overflow: hidden !important;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		text-align: center;
	}
	.design img {
		height: auto;
		width: 300px;
	}
	.design h1 {
		height: 10% !important;
		font-size: calc(24px + 6 * ((100vw - 320px) / 680));
	}
	.design p {
		margin: auto;
		width: 80%;
	}
}

@media only screen and (max-width: 320px) {
	.design {
		margin: auto;
		width: 250px;
		overflow: hidden !important;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
		text-align: center;
	}
	.design img {
		height: auto;
		width: 250px;
	}
	.design h1 {
		height: 10% !important;
		font-size: calc(24px + 6 * ((100vw - 320px) / 680));
	}
	.design p {
		margin: auto;
		width: 80%;
	}
}

html[data-theme="dark"] {
	--blue-color: #2a84dd;
	--blue-lighter: #ddeeff;
	--border-color: 2px solid #3c3f42;
	--header-color: #1e2226;
	--header-border-color: 1px solid #3c3f42;
	--header-background-color: #1e2226;
	--naviguation-list-color: #f4f6f8;
	--introduction-background-color: #161718;
	--introduction-head-color: #f4f6f8;
	--introduction-secondary-color: #d8d8d8;
	--introduction-learn-more-background-color: #f4f6f8;
	--introduction-learn-more-color: #000000;
	--introduction-border-color: #3c3f42;
	--stack-background: #1e2226;
	--stack-logo-color: #f4f6f8;
	--stack-name-color: #999999;
	--coming-soon-background-color: #292f35;
	--coming-soon-color: #c5c5c5;
	--project-background: #292f35;
	--projects-background: #24292e;
	--project-text: #f4f6f8;
	--project-border: 2px solid #c5c5c5;
	--designs-background: #2b3036;
	--dribbble-color: #c12360;
}

html[data-theme="dark"] svg #smokie {
	fill: white !important;
}

html[data-theme="dark"] .illustration {
	stroke: white;
}

:root {
	--blue-color: #52a7fc;
	--blue-lighter: #ddeeff;
	--border-color: 2px solid #e2e2e2;
	--header-color: #ffffff;
	--header-border-color: 2px solid #e5ecf2;
	--header-background-color: #ffffff;
	--naviguation-list-color: #24292e;
	--introduction-background-color: #f4f6f8;
	--introduction-head-color: #24292e;
	--introduction-secondary-color: #414950;
	--introduction-learn-more-color: #f4f6f8;
	--introduction-learn-more-background-color: #24292e;
	--introduction-border-color: #e8edf1;
	--stack-background: #ffffff;
	--stack-logo-color: #24292e;
	--stack-name-color: #24292e;
	--coming-soon-background-color: #f4f6f8;
	--coming-soon-color: #a4a4a4;
	--project-background: #ffffff;
	--projects-background: #ffffff;
	--project-text: #000000;
	--project-border: 2px solid #a4a4a4;
	--designs-background: #ffffff;
	--dribbble-color: #ea4c89;
}
