:root {
	// generic
	--blue-color: #52a7fc;
	--blue-lighter: #ddeeff;
	--border-color: 2px solid #e2e2e2;

	// header
	--header-color: #ffffff;
	--header-border-color: 2px solid #e5ecf2;
	--header-background-color: #ffffff;
	--naviguation-list-color: #24292e;

	// introduction section
	--introduction-background-color: #f4f6f8;
	--introduction-head-color: #24292e;
	--introduction-secondary-color: #414950;
	--introduction-learn-more-color: #f4f6f8;
	--introduction-learn-more-background-color: #24292e;
	--introduction-border-color: #e8edf1;

	// tech stacks
	--stack-background: #ffffff;
	--stack-logo-color: #24292e;
	--stack-name-color: #24292e;

	// projects
	--coming-soon-background-color: #f4f6f8;
	--coming-soon-color: #a4a4a4;
	--project-background: #ffffff;
	--projects-background: #ffffff;
	--project-text: #000000;
	--project-border: 2px solid #a4a4a4;

	// designs
	--designs-background: #ffffff;

	--dribbble-color: #ea4c89;

	--terminal-background: #24292e;
	--terminal-text-color: #fff;
}
